h1= "Fulfill #{@wish.user.name.pluralize} Wish"
h3= "Wish Title: #{@wish.title}"
h3= "Wish Title: #{@wish.description}"

== render 'wish_offer_form' 

= link_to 'Back', wish_path(@wish), class: 'button radius small'
