.large-12.columns
  h1.bold= t('activerecord.models.comment')
  = render 'admin/common/table', model_name: 'Comment', columns: [:id, :user_id, :commentable_id, :commentable_type, :content, :created_at]