h1= "Hey #{@item.user.full_name},"

p= "#{@buyer.full_name} from company #{@buyer.company_name} from office: #{@buyer.office_number} just purchased your item - #{@item.title} and transfered you #{@item.last_transaction_amount} #{@buyer.economy.currency_name}"