.large-12.columns
  h1.bold= t('activerecord.models.transaction')
  = render 'admin/common/table', model_name: 'Transaction', columns: [:id, :buyer_id, :seller_id, :amount, :workflow_state, :item_id, :transaction_type, :created_at]