.item-panel, .comment-panel { 
  @include panel(white, 10px);
  border-radius: 5px; 
  padding: 10px 5px;
  margin: 10px 5px 5px 10px;
}

.signup-button {
  @include openlets-button(#FF9900);
  font-size: 1.4em;
}

.facebook-button { @include social-button(#4b67a1); }
.linkedin-button { @include social-button(#1b86bc); }
.google-button   { @include social-button(#db4f31); }

.chzn-container-multi .chzn-choices .search-field input { height: 27px; }
.chzn-container-single .chzn-single span { font-size: 18px; padding: 0 10px; }
.chzn-container-active.chzn-with-drop .chzn-single div b { background-position: -16px 14px; }
.chzn-container-single .chzn-single div b { background: url(/assets/chosen-sprite.png) no-repeat 0px 13px; }
.chzn-container.chzn-container-multi { width: 100% !important; margin-bottom: 18px; }
#item_category_ids_chzn { margin-bottom: 14px; }

.clear-both { clear: both;}

.center { text-align: center; }

.center{
  text-align: center;
}

h1#logo {
  font-size: 1.6em;
  img {
    position: relative;
    top: -1;
  }
}

.hero {
  background-color: #1A3F37;
  width: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  margin-bottom: 20px;
  color:#fff;
  padding-top: 36px;
  padding-bottom: 40px;
  h1{
    font-size: 3.5em;
    color: #0e574e;
  }
  h4 {
    background: #3c5923;
    border-radius: 50px;
    padding: 15px;
    color: white;
  }
  &.login-signup { height: 400px; }
}

.social-login { 
  padding: 10px 0px 10px 7px;
  font-size: 1em;
  text-align: left;
  .fa { font-size: 1.25em; }
  span { position: relative; top: 1px; }
}

.social-links .columns { padding: 0em 0.2em }

label.right {
  padding-right: 10px;
}

#map { height: 400px; }

.marketplace {
  .item-panel img { max-height: 150px; }
}
.button.tiny { margin: 5px; }

#comments {
  margin-bottom: 60px;
}

.bold { font-weight: bold; }

.chzn-container-multi .chzn-choices .search-field { 
  height: 34px; 
  input { height: 34px !important; }
}

.chzn-container-multi .chzn-choices li.search-choice { padding: 6px 20px 6px 5px; }

.button.search-button {
  margin: 0;
  display: block;
  top: -7px;
  height: 51px;
}

fa.fa-search { font-size: 25px; }

.top-bar {
  i.fa { margin: 5px; }
  #logo img { height: 25px; }
}

.button { margin-right: 5px; margin-left: 5px; }


.top-bar-section .has-dropdown > a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
  border-left-style: solid;
  margin-right: 15px;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  right: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 42px;
    background: rgb(235, 235, 235);
    padding: 10px 0px 0px 0px;
}

@media only screen and (min-width: 40.063em) {
  .top-bar-section .has-dropdown > a:after { 
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
    border-top-style: solid;
    margin-top: -1px;
    top: 30px;
  }      
}