/*
 *= require responsive-tables
 */

@import 'variables';

.large-2.columns.sidebar {
  height: 100%;
  background: $light-blue;
  h3 { color: white; }
}

.chzn-container-single .chzn-single {
  height: 42px;
  margin: 10px 0 0 0;
  span {
    line-height: 2.2em;
  }
}

table {
  width: 100%;
  .actions ul.button-group {
    a { margin: 0; padding: 10px 0; width: 45px; }
    i.fa { font-size: 1.4em; }
  }
  .workflow_actions ul.button-group a { width: 75px; }
}

.clear-both {
  clear: both;
}

#admin {
  .new-button { margin: 10px 0; }

  form {
    .small-8.columns { padding: 0; }
    #chosen_user_id_chzn.chzn-container {
      width: 360px;
      height: 47px;
      font-size: 1.5em;
      a.chzn-single {
        height: 47px;
        padding: 10px 0px;
      }
    }
  }

  form#settings_form {
    input { margin: 0; }
  }
}

#managers-page {
  form .chzn-container a {
    width: 100% !important;
    padding: 3px 0 0 5px !important;
    margin: 0;
  }
}