/*
 *= require responsive-tables
 */

@import 'variables';

.large-1.columns.sideabar { 
  padding: 0; 
  height: 100%;
  background: #efefef;
  .accordion dd > a { font-weight: bold; }
  .accordion dd.active > a { background: $light-blue; color: white; }
  .accordion dd.title > a { 
    background: $dark-blue; color: white; 
    font-size: 1.2em; padding: 7px 16px;
  }
}

table {
  width: 100%;
  .actions ul.button-group {
    a { margin: 0; padding: 10px 0; width: 45px; }
    i.fa { font-size: 1.4em; }
  }
  .workflow_actions ul.button-group a { width: 75px; }
}

.clear-both {
  clear: both;
}

#admin {
  .new-button { margin: 10px 0; }

  form {
    .small-8.columns { padding: 0; }
    #chosen_user_id_chzn.chzn-container {
      width: 360px;
      height: 47px;
      font-size: 1.5em;
      a.chzn-single {
        height: 47px;
        padding: 10px 0px;
      }
    }
  }

  form#settings_form {
    input { margin: 0; }
  }
}