.large-12.columns
  h1.bold= t('activerecord.models.user')
  = render 'admin/common/table', model_name: 'User', columns: [:id, :image, :name, :email, :username, :workflow_state, :locale, :sign_in_count, :created_at]