.row
  .large-12.columns
    h1.bold.text-center= t('forms.new_resource', name: t("activerecord.models.#{resource_class.name.downcase}"))
    = render "form", attributes: [:email, :password, :password_confirmation, :name, :about, :locale]