<footer>
  <div class="large-12 columns">
    <div class="large-6 columns">
      <p>
        <span>Powered By </span> 
        <%= link_to "OpenLETS", "http://www.openlets.org", target: :blank %>
      </p>
    </div>
    <div class="large-6 columns">
        <ul class="inline-list right">
          <li><%= link_to t("forms.faq"), pages_faq_path %></li>
        </ul>
    </div>  
  </div>

</footer>